<!-- views/pages/transactions/transactions_setlement.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <p><%= tagline %></p>
            <form id="checkout" action="/transaction/settlement_batch" method="post">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Settlement Date</span>
                    <input type="text" class="form-control" placeholder="Date YYYY-MM-DD" name="date" id="date" aria-describedby="basic-addon1">
                </div>
                <p><input type="submit" id="submit" value="Get Results"></p>
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>