<!-- views/pages/transactions/transactions_subscription.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <p><%= tagline %></p>
            <form id="checkout" action="/checkout/subscription" method="post">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Customer ID</span>
                    <input type="text" class="form-control" placeholder="Amount" name="custid" id="custid" value="joe1" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Plan ID</span>
                    <input type="text" class="form-control" placeholder="Plan Id" name="planid" id="planid" value="plan2" aria-describedby="basic-addon1">
                </div>
                <p><input type="submit" id="submit" value="Subscribe"></p>
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>