<!-- views/pages/transactions/dropin.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <p><%= tagline %></p>
            <% if (clientToken.length > 0) { %>
            <p>Got Client Token</p>
            <% } %>
            <form id="checkout" method="post" action="/checkout">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">$</span>
                    <input type="text" class="form-control" placeholder="Amount" name="amount" id="amount" value=10 aria-describedby="basic-addon1">
                    <input type="hidden" name="action" value="Pay">
                </div>
			    <p><div id="bt-dropin"></div></p>
			    <h4>Type of Transaction</h4>
                    <div class="container">
                        <div class="radio">
                          <label><input type="radio" name="optradioSale" value="on" onclick="sale()">Sale</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradioSale" value="off" onclick="authorize()">Authorization</label>
                        </div>
                    </div>
				<p><input type="submit" id="btnPayment" name="action" value="Pay" onclick="trackPayment()"></p>
			</form>  
            <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>
            <script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree-data.js"></script>\
            <script>
               braintree.setup("<%= clientToken %>", 
					'dropin', {
					  container: 'bt-dropin'
					  });
			    BraintreeData.setup("<%= merchantId %>", 'checkout', BraintreeData.environments.sandbox);
			    
			    function authorize(){
                    document.getElementById("btnPayment").value="Authorize";
                    mixpanel.track("Payment - Authorization");
                }
                
                function sale(){
                    document.getElementById("btnPayment").value="Pay";
                    mixpanel.track("Payment - Capture");
                }
                
                function trackPayment(){
                    mixpanel.track("Payment - DropIn");
                }
            </script>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>