<!-- views/pages/transactions.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <p><%= tagline %></p>
            <ul class="list-group">
                <li><a href="/transactions/paypal">PayPal Only</a></li>
                <li><a href="/transactions/dropin">Drop In UI (w/ Auth Options)</a></li>
                <li><a href="/transactions/returning">Drop In UI (Returning Customer)</a></li>
                <li><a href="/transactions/custom">Custom UI</a></li>
                <li><a href="/transactions/paymenttoken">Transaction with Payment Token</a></li>
                <li><a href="/transactions/login">Transaction with Customer ID</a></li>
            </ul>
            <p>Transaction Management</p>
            <ul class="list-group">
                <li><a href="/transactions/search">Search Transactions</a></li>
                <li><a href="/transactions/settlement_batch">Settlement Batch Summary</a></li>
            </ul>
            <p>Marketplace Transaction</p>
            <ul class="list-group">
                <li><a href="/transactions/marketplace">Marketplace Transaction</a></li>
            </ul>
            <p>Subscription Transaction</p>
            <ul class="list-group">
                <li><a href="/transactions/subscription">Subscription Transaction</a></li>
            </ul>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        window.onload = function(){
            mixpanel.track("Transactions Page");  
        }
    </script>
    
</body>

</html>